html{
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(90,90,90);
  font-family: "Avenir Medium", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 30pt;
  font-weight: 100;
  color: rgb(204,204,204);
  margin: 0px;
  padding: 1%;
  display: inline-block;
  width: 83%;
}

#topic_title {
  font-size: 30pt;
  font-weight: 100;
  color:white;
  margin: 0px;
  padding: 1%;
  width: 83%;
  height: 45px;
  background: none;
}

h2{
  font-family: "Avenir Medium", sans-serif;
  width: 80%;
  border-bottom: 1px dashed rgb(63,169,245);
  background-size: contain;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 20px;
  color: rgb(63,169,245);
}


h3{
  font-family: "Avenir Medium", sans-serif;
  width: 80%;
  background-size: contain;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 20px;
  color: rgb(63,169,245);
}

article{
  width: 100%;
  height: 100%;
  transition: opacity 2s ease;
}

header{
  box-sizing: border-box;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  height: 30px;
  padding: 5px;
}

header .link-back{
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(128,128,128);
}

.row{
  width: 100%;
  overflow-x: scroll;
}

.coll{
  float: left;
  margin: 10px;
}

.verknpf{
  width: 180px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(45,45,45);
}

.verknpf > .head{
  width: 100%;
  border-bottom: 1px dashed rgb(242,242,242);
}

.link-arrow{
  vertical-align: text-bottom;
  height: 25px;
}

.verknpf > .head > *{
  display: inline-block;
}

.verknpf ul{
  padding: 0;
}

.verknpf li{
  font-size: 15px;
  list-style: none;
  padding-bottom: 15px;
  border-bottom: 1px dashed rgb(242,242,242);
}

.verknpf li a{
  color: white;
}

.verknpf li:last-of-type{
  border-bottom: none;
}

.textauszug{
  font-family: Marion;
  width: 250px;
  padding: 10px;
  background: url("../img/BackgroundMerkliste.png");
}

.textauszug > a{
  font-size: 15px;
  text-decoration: none;
  color: rgb(63,169,245);
}

.textauszug .contentfragment{
  max-height: 350px;
  overflow: hidden;
}

.object{
  min-height: 100px;
  min-width: 150px;
  max-height: 560px;
  max-width: 560px;
  overflow: hidden;
  padding: 10px;
  background: url("../img/BackgroundMerkliste.png");
}

.object > .head{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: url('../img/Kringel01.png') right no-repeat;
  background-size: contain;
}

.object > .head > h3{
  color: rgb(128,128,128);
}

.object img{
  max-height: 400px;
}

.detail{
  width: 95%;
  height: 100%;
  padding: 20px;
  opacity: 1;
  background-color: white;
  transition: all 2s ease;
}

.detail p{
  font-family: Marion;
}

.hidden{
  display: none;
}

.invisible{
  opacity: 0;
}
