/*
 * the heading
 */
header {
  height: 20px;
}

html{
  height: 100%;
}

body {
  background-color: rgb(90,90,90);
  height: 100%;
}

button{
  height: 25px;
  padding: 5px;
  border: none;
  color: white;
}

input{
  border: none;
  padding: 5px;
  height: 15px;
}

.titlebar.delete{
  background-color: tomato;
}

.titlebar.delete h1{
  color: white;
}

.titlebar.edit{
  background-color: darkcyan;
}

.titlebar.edit input{
  color: white;
}

#create-topic-name{
  margin-top: 5px;
  width: 70%;
}

#submit-topic-button{
  background: seagreen;
  width: 24%;
}

#src-radio:not(:checked) + #src{
  opacity: 0.3;
}

#imageupload-radio:not(:checked) + #imageupload{
  opacity: 0.3;
}

#objekt-form{
  background-color: mediumseagreen;
  color: white;
  padding: 10px;
}

#objekt-form.edit{
  background-color: darkseagreen;
}

#objekt-form.delete{
  background-color: tomato;
}

#objekt-form button[type="submit"]{
  background-color: seagreen;
}

#objekt-form.delete button[type="submit"]{
  background-color: crimson;
}

.object-buttons{
  transition: opacity 0.2s;
  opacity: 0;
  margin-top: 5px;
}

.coll:hover > .object-buttons{
  opacity: 1;
}

.show-object-delete{
  background: crimson;
  color: white;
}

hr{
  margin: 0;
  border: none;
  height: 2px;
  width: 100%;
  background-color: lightgrey;
}

#edit-topic{
  vertical-align: text-bottom;
}

#delete-topic{
  vertical-align: text-bottom;
  background: crimson;
}

/*
 * the main content
 */
#contentscrollview {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding: 0px;
  margin: 0px;
}

#contentview{
  background: dimgray;
  float: left;
  min-height: 100%;
  width: 69%;
}

#contentlist {
  float: left;
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow-y: scroll;
  margin-right: 2%;
  padding-left: 1%;
  padding-right: 1%;
  width: 27%;
}

#topic_title{
  display: inline-block;
}

@media (orientation: portrait) {
  div#contentlist {
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    max-width: -moz-calc(100% - 40px);
    max-width: -webkit-calc(100% - 40px);
  }
}

div#contentlist ul {
  list-style-type: none;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
  width: 100%;
}

div#contentlist li {
  padding: 0px;
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px dashed rgb(153,153,153);
}

div#contentlist li:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

div#contentlist li a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  color: rgb(153,153,153);
}

